<section
    class="absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]">
    <div class="flex flex-col md:flex-wrap-reverse items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

        <div class="flex justify-center mb-6">
            <a routerLink="/" class="flex items-center">
                <img class="md:w-[397px]"
                    src="https://raw.githubusercontent.com/SexAtTheTerminal/mis-imagenes/refs/heads/main/logo_corregido.svg"
                    alt="logo">
            </a>
        </div>

        <div class="w-full max-w-md p-6 bg-slate-100 rounded-lg shadow">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-slate-900 md:text-2xl">
                    Create your account
                </h1>
                <form class="space-y-4 md:space-y-6" [formGroup]="form" (ngSubmit)="submit()">

                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-slate-700">Your email</label>
                        <input type="email" id="email"
                            class="bg-white border border-slate-300 rounded-md text-gray-900 block w-full p-2.5 placeholder-gray-400 focus:border-amber-500 focus:ring-amber-500"
                            placeholder="user@email.com" required formControlName="email" />
                    </div>

                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-slate-700">Your
                            password</label>
                        <input type="password" id="password"
                            class="bg-white border border-slate-300 rounded-md text-gray-900 block w-full p-2.5 placeholder-gray-400 focus:border-amber-500 focus:ring-amber-500"
                            placeholder="••••••••" required formControlName="password" />
                    </div>

                    <div class="flex items-start text-sm text-slate-600">
                        <label class="text-slate-600">
                            Already have an account?
                            <a routerLink="/auth/log-in" class="text-amber-600 hover:underline">Log in</a>
                        </label>
                    </div>

                    <button type="submit"
                        class="w-full text-white bg-amber-400 hover:bg-amber-500 focus:ring-4 focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        Register new account
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
  