@use "tailwindcss";

@layer utilities {
    .collapsed {
        width: 85px;
        overflow: hidden;
    }

    .collapsed #nav-label{
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .collapsed #nav-link {
        justify-content: start;
        padding-left: 10px;
        border: 2px solid rgba(209, 201, 201, 0.548);
    }
}